header{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #0073CE;
    width: 100%;
    height: 8.8rem;
    display: flex;
    .container{
        @include flex (row, center, space-between)
    }
    nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            margin-right: 5.9rem;
            li{
               &:not(:first-child){
                   margin-left: 4.8rem;
               }
               a{
                font-family: 'Poppins' sans-serif;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 125%;
                color: #fff;
                transition: color .3s;
                &:hover{
                    color: $brand-yellow;
                }
               }
            }
        }
    }
}